* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url("../../../assets/crew/background-crew-desktop.jpg");
  background-size: cover;
  background-position: center;

  .containerC {
    display: flex;
    flex-direction: row;
    padding-top: 56px;
    width: 100%;
    z-index: 0;
    padding-left: 5%;
    padding-right: 5%;

    .Loading {
      & h1 {
        color: #fff;
        font-family: Barlow Condensed;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 4.725px;
      }
    }

    .containerC__left {
      display: flex;
      flex-direction: column;
      width: 50%;

      &__titles {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;

        & h4 {
          color: #52535b;
          font-family: Barlow Condensed;
          font-size: 28px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 4.725px;
        }

        & h2 {
          color: #fff;
          font-family: Barlow Condensed;
          font-size: 28px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 4.725px;
        }
      }

      &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;

        &__info {
          width: 100%;
          display: flex;
          flex-direction: column;

          &__roles {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 15%;

            & h3 {
              color: #52535b;
              font-family: Barlow Condensed;
              font-size: 32px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              letter-spacing: 4.725px;
            }

            & h2 {
              color: #fff;
              font-family: Barlow Condensed;
              font-size: 56px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              letter-spacing: 4.725px;
            }
          }

          &__bio {
            margin-top: 4%;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 60%;
            gap: 30px;

            & p {
              color: #d0d6f9;
              font-size: 18px;
              font-weight: 400;
              line-height: 32px;
            }
          }
        }

        &__buttons {
          width: 100%;
          display: flex;
          flex-direction: row;
          gap: 1rem;
          position: absolute;
          bottom: -35px;

          & button {
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            border: none;
            margin-right: 1rem;
            cursor: pointer;
          }
        }
      }
    }

    .containerC__right {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin-top: 20px;

      &__image {
        width: 100%;
        max-width: 453px;

        & img {
          max-width: 453px;
        }
      }
    }
  }
}

@media (max-width: 916px) {
  .containerC {
    .containerC__left {
      &__buttons {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        position: fixed;
        bottom: 40%;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    background-image: url("../../../assets/crew/background-crew-tablet.jpg");
    .containerC {
      max-width: 768px;
      flex-direction: column;
      align-items: center;

      .containerC__left {
        flex-direction: column;
        width: 100%;
        align-items: center;

        &__titles {
          justify-content: center;

          & h4 {
            font-size: 25px;
          }

          & h2 {
            font-size: 25px;
          }
        }

        &__content {
          margin-top: 0;

          align-items: center;

          &__info {
            width: 100%;
            align-items: center;

            &__roles {
              margin-top: 5%;
              align-items: center;

              & h3 {
                font-size: 30px;
              }

              & h2 {
                font-size: 50px;
              }
            }

            &__bio {
              width: 100%;
              gap: 30px;
            }
          }

          &__buttons {
            bottom: 0;
            margin-top: 1rem;
            position: inherit;
            bottom: none;
            justify-content: center;
          }
        }
      }

      .containerC__right {
        width: 100%;
        align-items: center;

        &__image {
          max-width: 456px;

          & img {
            max-width: 456px;
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .container {
    background-image: url("../../../assets/crew/background-crew-mobile.jpg");
    .containerC {
      max-width: 375px;
      flex-direction: column-reverse;
      justify-content: flex-start;

      .containerC__left {
        height: 100%;
        &__titles {
          justify-content: center;

          & h4 {
            font-size: 20px;
          }

          & h2 {
            font-size: 20px;
          }
        }

        &__content {
          flex-direction: column-reverse;

          &__info {
            &__roles {
              & h3 {
                font-size: 18px;
              }

              & h2 {
                font-size: 20px;
              }
            }

            &__bio {
              width: 100%;
              gap: 30px;
            }
          }
        }
      }

      .containerC__right {
        width: 100%;
        align-items: center;

        &__image {
          max-width: 327px;

          & img {
            max-width: 327px;
            width: 100%;
          }
        }
      }
    }
  }
} //
